input[type="text"]{
        color:white;
        text-align: center;
        margin: 0 auto;
        position:absolute;
        top:50%;
        left: 35%;
        width:30%;
        color: #80cbc4;
        font-weight: bold;
        font-variant: small-caps;
        transition: all .3s ease-in-out;
        
    }
input[type="text"]:focus{
    transition: all .3s ease-in-out;
    border: 1px solid #80cbc4;
    background: black;
    border-radius: 15px;
    transform: scale(1,1);

}
.buttonMid, .buttonLeft, .buttonRight {
    text-align: center;
}
.buttonLeft{
   position: absolute;
   right: 25%;
   top:60%
}
.buttonRight{
    position: absolute;
    left:25%;
    top: 60%;
}
.btn {
    position: absolute;
    top: 60%;

}
body{
    background: black url("../assets/images/image.jpg") no-repeat fixed center; 
}
h2{
    position: relative;
    top: 50px;
    color:lightgray;
    text-align: center;
    font-size: 150px;
    text-shadow: 0px 0px 7px #80cbc4;
}


.font4{
    font-family: 'Monoton', cursive;
    opacity: .7;
    

}
.btn:hover{
    transform: scale(1.2);
    transition-duration: 1.2s;
    background-color: black;
    color: black;
}


.search{
  font-size: 50px;
}
p{
    color: white;
    font-size: 30px;
    margin: 2px;
}
.resetHome{
    position: absolute;
    top: 30px;
    right: 30px;
    background: transparent;
    font: inherit;
    font-weight: 500;
    border: 0;
    color: white;
    font-size: 30px;
}
input[type=text]:not(.browser-default){
    font-size: 30px;
    width: 30%;
    border: 1px solid #80cbc4;
    background: black;
   
}
form{
    text-align: center;
    margin: 0 auto;
}
#artist-list{
    background: black;
    width: 30%;
    position: relative;
    top: 20px;
    text-align: center;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
}
.artInfo{
    font-size: 15px;
}
#preview-player{
    background: black;
    width: 30%;
    position: absolute;
    right: 0;
    top: 255px;
    border-radius: 15px;
    
    
    
}
#artSongs, .artistName{
    border-bottom: 2px solid #80cbc4;
    width: 35%;
    margin: 0 auto;
    font-weight: bold;

}
.iframeText{
    font-size: 15px;
}
.info{
    font-size: 10px;
}
.artistName, #preview-player{
    text-align: center;
    transition: all .2s ease-in-out;
}
.artistName:hover{
    transform: scale(1.1);
    color:#80cbc4;
}


#subButn{
    visibility: hidden;
}
=======
#subButn{
    display: none;


}
#aboutBio{
    text-decoration: underline;
}
#ourBio{
    background: black;
    color: white;
    position: relative;
    top: 55%;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    border: 2px color: #80cbc4;
    
}
.profilePic{
    width: 200px;
    height: 200px;


}
h4{
    color: white;
    border-bottom: 2px solid #80cbc4;
    width: 35%;
    margin: 0 auto;
    font-size: 30px;
    font-weight: bold;
}
#infotab{
    position: relative;
    top: 20px;
    background: black;
    text-align: center;
    width: 40%;
    margin: 0 auto;
    border-radius: 15px;
} 
.contact{
    color: #80cbc4;
    line-height: 40px;
    
}
a{
    margin: 5px 0px; 
}
.icons{
    width: 30px;
    height: 30px;
    position: relative;
    top: 15px;
    margin-bottom: 5px;
}

