.buttonMid, .buttonLeft, .buttonRight {
    text-align: center;
}
.buttonLeft{
   position: absolute;
   right: 25%;
   top:60%
}
.buttonRight{
    position: absolute;
    left:25%;
    top: 60%;
}
.btn {
    position: absolute;
    top: 60%;

}
body{
    background: black url("../assets/images/image.jpg") no-repeat fixed center; 
}
h2{
    position: relative;
    top: 50px;
    color: lightgrey;
    text-align: center;
    font-size: 150px;
    opacity: .5;
}


.font4{
    font-family: 'Monoton', cursive;
    

}
.btn:hover{
    transform: scale(1.2);
    transition-duration: 1.2s;
    background-color: black;
    color: black;
}
.font4 {
    opacity: 0.5;
}
input[type="text"]{

    color:white;

    text-align: center;
    margin: 0 auto;
    position:absolute;
    top:50%;
    width:30%;
    background-color:white;
    color: #80cbc4;
    font-weight: bold;
    background: black;
    font-variant: small-caps;
    
}
.search{
  font-size: 50px;
}

#subButn{
    visibility: hidden;
}
